<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421775087736-k1cstadqqc40s7tf1hahv5alekbvjj5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421775087736-k1cstadqqc40s7tf1hahv5alekbvjj5i</string>
	<key>API_KEY</key>
	<string>AIzaSyCPumqs2CyXbPaeoMMmNn3iOX7AJc1lta8</string>
	<key>GCM_SENDER_ID</key>
	<string>421775087736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restappAutoma</string>
	<key>PROJECT_ID</key>
	<string>restapp-automa</string>
	<key>STORAGE_BUCKET</key>
	<string>restapp-automa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421775087736:ios:8bbe32ce45535a1197358d</string>
</dict>
</plist>